@charset "utf-8";

#class_title {
    padding-top: 150px;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
}

.section_title {
    width: 100%;
    background: radial-gradient(circle,
            #8f87c1, #78cab6, #d5d0cf, #8f87c1, #78cab6);
    background-size: 400%;
    height: 200px;
    animation: section_title_bg 15s linear infinite reverse;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes section_title_bg {
    0% {
        background-position: 0% 0%;
    }

    17% {
        background-position: 25% 100%;
    }

    33% {
        background-position: 75% 0%;
    }

    50% {
        background-position: 100% 100%;

    }

    67% {
        background-position: 75% 0%;
    }

    83% {
        background-position: 25% 100%;
    }

    100% {
        background-position: 0% 0%;
    }

}

.section_title h1 {
    font-size: 72px;
    line-height: 100%;
    font-weight: 700;
    color: #090909;
    text-align: center;
}

.c_title {
    font-size: 48px;
    line-height: 100%;
    text-align: center;
}

.c_sub_title {
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
}

.recommand {
    padding-top: 100px;
}

.recommand .r_flex {
    width: 1320px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.recommand .r_flex .r_box {
    width: 250px;
    height: 250px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}

.recommand .r_flex .r_box:hover {
    transform: translateY(-40px);
}

.recommand .r_flex .r_box .r_text p {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    cursor: default;
}

.recommand .r_flex .r_box .r_text p span {
    font-size: 28px;
    font-weight: 700;
}

.recommand .r_flex .r_box .r_text p span.green {
    color: #78cab6;
}

.recommand .r_flex .r_box .r_text p span.blue {
    color: #83a8bb;
}

.recommand .r_flex .r_box .r_text p span.purple {
    color: #8f87c1;
}


#one_to_one {
    padding-top: 100px;
    padding-bottom: 100px;
}

.class_inner {
    width: 1320px;
    margin: 0 auto;
}

.class_flex {
    display: flex;
}

#one_to_one .class_inner .class_flex {
    justify-content: center;
    padding-top: 40px;
}

#one_to_one .class_inner .class_flex .c1_image_box {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
}

#one_to_one .class_inner .class_flex .c1_image_box img {
    width: 100%;
}

#one_to_one .class_inner .class_flex .c1_text_box {
    background-color: #f1f4f4;
    width: 600px;
    height: 200px;
    border-radius: 15px;
    padding: 20px;
    margin-left: 100px;
    box-sizing: border-box;
}

#one_to_one .class_inner .class_flex .c1_text_box {
    color: #22252b;
}

#one_to_one .class_inner .class_flex .c1_text_box h2 {
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
    padding-top: 5px;
    display: inline-block;
    border-top: #78cab6 solid 4px;

}

#one_to_one .class_inner .class_flex .c1_text_box ul {
    list-style-type: '-';
    padding-left: 10px;
}

#one_to_one .class_inner .class_flex .c1_text_box li {
    font-size: 18px;
    line-height: 26px;
    padding-top: 10px;
    padding-left: 10px;
}

.c_more_btn {
    font-size: 24px;
    color: #f1f3f4;

}

.c_more_btn {
    display: block;
    font-size: 24px;
    width: 200px;
    padding: 11px 0;
    border-radius: 24px;
    color: #f1f3f4;
    text-align: center;
    background: linear-gradient(#4e505b, #4e505b) padding-box,
        linear-gradient(to right, #78cab6, #8f87c1) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    transition: all 0.4s;

}


.c_more_btn:hover {
    background: linear-gradient(to right, #78cab6, #8f87c1) padding-box,
        linear-gradient(to right, #78cab6, #8f87c1) border-box no-repeat;
}


#online_group {
    padding: 100px 0;
    width: 100%;
}

#online_group .how_to {
    display: flex;
    width: 100%;
    padding-top: 100px;
}

#online_group .how_to .g_image_box {
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;

}

#online_group .g_image_box .bg_box {
    height: 400px;
    width: 330px;
    background-color: #333;
}

#online_group .how_to .g_image_box .g_image_wrap {
    position: absolute;
    right: 130px;
    top: 0;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

#online_group .how_to .g_text_box {
    width: 50%;
    background-image: linear-gradient(to right, #333 50%, transparent 100%);
    padding-left: 100px;
    box-sizing: border-box;
}

#online_group .how_to .g_text_box h2,
#online_group .feedback .g_text_box h2 {
    padding-top: 100px;
    font-size: 32px;
    line-height: 100%;
}

#online_group .feedback .g_text_box p {
    padding-top: 40px;
    font-size: 24px;
    line-height: 32px;
}

#online_group .how_to .g_text_box .step_flex {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

#online_group .how_to .g_text_box .step_flex.top {
    align-items: start;
}

#online_group .how_to .g_text_box .step_flex p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

#online_group .how_to .g_text_box .step_flex p.step {
    padding-right: 10px;
}

#online_group .how_to .g_text_box .class_flex p span,
#online_group .feedback .g_text_box p span {
    color: #78cab6;
    font-weight: 700;
}

#online_group .feedback {
    display: flex;
    width: 100%;
    padding-top: 50px;
}

#online_group .feedback .g_text_box {
    width: 50%;
    text-align: right;
    padding-right: 100px;
    background-image: linear-gradient(to right, transparent 0%, #333 50%);
    box-sizing: border-box;
}

#online_group .feedback .g_image_box {
    width: 50%;
    display: flex;
    position: relative;
}


#online_group .feedback {
    padding-bottom: 100px;
}

#online_group .feedback .g_image_box .g_image_wrap {
    position: absolute;
    left: 130px;
    top: 0;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

#online_group .class_flex {
    justify-content: center;
}

#diet {
    padding: 100px 0;
}

#diet .diet_content {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

#diet .diet_content .diet_img_1 {
    border-radius: 100px 0 0 0;
    overflow: hidden;
}

#diet .diet_content .diet_img_2 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#diet .diet_content .diet_img_2 .diet_img_22 {
    border-radius: 0 0 100px 0;
    overflow: hidden;
}

#diet .diet_content .diet_text {
    width: 620px;
    height: 620px;
    background-color: #333;
    border-radius: 0 100px 0 100px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#diet .diet_content .diet_text div h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}

#diet .diet_content .diet_text div p {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 26px;
}

#diet .diet_content .diet_text div p span {
    background-image: linear-gradient(transparent 60%, #78cab6 60%);
    font-weight: bold;
    mix-blend-mode: hard-light;
}

#communication {
    padding: 100px 0;
}

#communication .cm_contents {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#communication .cm_contents .cm_text {
    width: 600px;
    height: 550px;
    background-color: #f1f3f4;
    border-radius: 0 50px 50px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#communication .cm_contents .cm_text .line {
    position: absolute;
    background-color: #78cab6;
    z-index: 10;
}

#communication .cm_contents .cm_text .line.l01 {
    width: 10px;
    height: 150px;
    left: 50px;
    bottom: 50px;
}

#communication .cm_contents .cm_text .line.l02 {
    width: 150px;
    height: 10px;
    left: 50px;
    bottom: 50px;
}

#communication .cm_contents .cm_text .line.l11 {
    width: 10px;
    height: 150px;
    right: 50px;
    top: 50px;
}

#communication .cm_contents .cm_text .line.l12 {
    width: 150px;
    height: 10px;
    right: 50px;
    top: 50px;
}

#communication .cm_contents .cm_text p {
    font-size: 28px;
    line-height: 36px;
    color: #22252b;
}

#communication .cm_contents .cm_text p span {
    font-weight: bold;
    background-color: #8f87c1;
    border-radius: 20px;
    padding: 0 10px;

}

#advantage {
    padding: 100px 0;

}

#advantage .ad_inner {
    width: 1320px;
    margin: 0 auto;
    padding: 100px;
}

#advantage .ad_inner .ad_flex {
    display: flex;
    justify-content: space-between;
}

#advantage .ad_inner .ad_flex .ad_box {
    width: 280px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

#advantage .ad_inner .ad_flex .ad_box .ad_face{
    width: 100%;
    height: 100%;
    border-radius: 15px;

    transition: all 0.8s ease;
    box-sizing: border-box;
    backface-visibility: hidden;
}

#advantage .ad_inner .ad_flex .ad_box .ad_front {
    padding-bottom: 100px;
    background-color: #f1f3f4;
    text-align: center;

}
#advantage .ad_inner .ad_flex .ad_box .ad_front
{
    padding-top:50px;
}

#advantage .ad_inner .ad_flex .ad_box .ad_front h2{
    color:#4e505b;
    font-size:42px;
    line-height: 100%;
    padding-top:70px;
}

#advantage .ad_inner .ad_flex .ad_box .ad_back{
    transform: rotateY(180deg);
    position:absolute;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#advantage .ad_inner .ad_flex .ad_box .ad_back p
{
    font-size:24px;
    line-height: 40px;
    text-align: center;
}

#advantage .ad_inner .ad_flex .ad_box:hover .ad_front{
    transform: rotateY(-180deg);

}

#advantage .ad_inner .ad_flex .ad_box:hover  .ad_back{
    transform: rotateY(0);

}


.ad_01{
    background:linear-gradient(to right, #78CAB6, #7EB9B9);
}
.ad_02{
    background:linear-gradient(to right, #7EB9B9, #84A9BC);
}
.ad_03{
    background:linear-gradient(to right, #84A9BC, #8998BE);
}
.ad_04{
    background:linear-gradient(to right, #8998BE, #8F87C1);
}


.ts_inner {
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.book img {
    width: 100%;
}

.book {
    display: flex;
    width: 900px;
    box-shadow: rgba(241, 243, 244, 0.3) 0px 4px 16px, rgba(241, 243, 244, 0.3) 0px 8px 24px, rgba(241, 243, 244, 0.3) 0px 16px 56px;
}

.book h1 {
    font-size: 60px;
}

#cover {
    width: 450px;
    height: 600px;

}

#last_page {
    width: 450px;
    height: 600px;
    background-color: #4e505b;
}

.flip-book {
    width: 450px;
    height: 600px;
    position: relative;
    perspective: 1500px;

}

.page_flip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .5s;
    color: #000;

}

.page_front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4e505b;
    box-sizing: border-box;
    backface-visibility: hidden;
    padding: 0 13px;

}




.page_back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #000;
}

.next-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #000;
    background-color: #4e505b;
}

.next-btn,
#last_page {
    color: #83a8bb;
    padding: 50px;
    box-sizing: border-box;
}

.next-btn h1,
#last_page h1 {
    font-size: 48px;
    line-height: 100%;
    padding-bottom: 20px;
    border-bottom: #7a99ab solid 1px;
}

.next-btn h2,
#last_page h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    padding-top: 28px;
    padding-left: 10px;
}

.next-btn p,
#last_page p {
    padding-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: #7a99ab;
}

.next-btn h2,
#last_page h2 {
    font-size: 18px;
    line-height: 100%;
    padding-top: 30px;
}


.back-btn {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    color: #4e505b;
}

.arrow {
    position: absolute;
    bottom: 2%;
}

.a-right {
    transform: rotate(-90deg);
    right: 15%;
}

.a-left {
    transform: rotate(90deg);
    left: 15%;
}

.arrow span {
    display: block;
    width: 1vw;
    height: 1vw;
    border-bottom: 5px solid #d5d0cf;
    border-right: 5px solid #d5d0cf;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(1) {
    border-color: #78cab6;
}

.arrow span:nth-child(2) {
    border-color: #83a8bb;
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    border-color: #8f87c1;
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

#c1:checked~.flip-book #p1 {
    transform: rotateY(-180deg);
    z-index: 1;
}

#c2:checked~.flip-book #p2 {
    transform: rotateY(-180deg);
    z-index: 2;
}

#c3:checked~.flip-book #p3 {
    transform: rotateY(-180deg);
    z-index: 3;
}

#c1,
#c2,
#c3 {
    display: none;
}




.maps
{
    width: 900px;
    height: 900px;
    margin:0 auto;
}
.maps iframe
{   width: 100%;
    height:100%;
    max-width: 100%;
}





/* offline */

figure.snip {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    width: 500px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: #000000;


    transform: rotateX(45deg) rotateZ(-25deg);
    transform-style: preserve-3d;
    transition: .3s;
}




figure.snip *,
figure.snip *:before,
figure.snip *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}


figure.snip img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: bottom;
    opacity: 0.9;
}

figure.snip .title {
    position: absolute;
    top: 58%;
    left: 25px;
    padding: 5px 10px 10px;
}

figure.snip .title:before,
figure.snip .title:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.snip .title:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

figure.snip .title:after {
    bottom: 0;
    right: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

figure.snip .title div:before,
figure.snip .title div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.snip .title div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

figure.snip .title div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

figure.snip h2,
figure.snip h4 {
    margin: 0;
    text-transform: uppercase;
}

figure.snip h2 {
    font-weight: 400;
}

figure.snip h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
}

figure.snip figcaption {
    position: absolute;
    bottom: 42%;
    left: 25px;
    text-align: left;
    opacity: 0;
    padding: 5px 60px 5px 10px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1.5px;
}

figure.snip figcaption p {
    margin: 0;
}

figure.snip a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

figure.snip:hover img,
figure.snip.hover img {
    zoom: 1;
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
}

figure.snip:hover .title:before,
figure.snip.hover .title:before,
figure.snip:hover .title:after,
figure.snip.hover .title:after,
figure.snip:hover .title div:before,
figure.snip.hover .title div:before,
figure.snip:hover .title div:after,
figure.snip.hover .title div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

figure.snip:hover .title:before,
figure.snip.hover .title:before,
figure.snip:hover .title:after,
figure.snip.hover .title:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.snip:hover figcaption,
figure.snip.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


figure.snip::before,
figure.snip::after {
    content: '';
    position: absolute;
}

figure.snip::before {
    bottom: -8px;
    left: 0;
    background-color: #d0d0d0;
    width: 100%;
    height: 16px;
    transform: rotateX(90deg) translateY(-8px);
}

figure.snip::after {
    top: 0;
    left: -8px;
    width: 16px;
    height: 100%;
    background-color: #bbb;
    transform: rotateY(90deg) translateX(8px);
}

/*  */
.offline_area ul {
    display: flex;
    list-style: none;
}

.offline_area ul li {
    position: relative;
    margin: 0 3em;
}

.shadow {
    transform: rotateX(45deg) rotateZ(-25deg);
    transform-style: preserve-3d;
    transition: .3s;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: -35px 45px 15px rgba(0, 0, 0, .1);
}

.offline_area ul li:hover .rot_image,
.offline_area ul li:hover .shadow {
    transform: rotate(0);
}

.offline_area ul li:hover .shadow {
    box-shadow: 0 5px 40px rgba(0, 0, 0, .5);
}