@charset "utf-8";

#community_title {
    padding-top: 150px;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px #f1f3f4 solid;
}

.c_title {
    font-size: 60px;
    line-height: 100%;
    text-align: center;
}

.inner {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 100px;
}

.n_contents,
.e_contents,
.r_contents {
    padding-top: 50px;
}

.e_contents,
.r_contents {
    display: flex;


}

ul.page {
    padding-top: 50px;
    display: flex;
    justify-content: center;

}

ul.page li a {
    display: block;
    color: #f1f3f4;
    font-size: 16px;
    width: 38px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    line-height: 100%;
    border: solid 1px #f1f3f4b3;
    background-color: #4e505b;
}

ul.page li a.inactive:hover {
    background-color: #303138;
    color: #f1f1f1;
}

ul.page li a.active {
    background-color: #83a8bb;
    cursor: default;
}

ul.page li.next_page {
    padding-left: 10px;
}

ul.page li.prev_page {
    padding-right: 10px;

}

.n_contents .n_content {
    width: 100%;
    height: 60px;
    background-color: #f1f3f4;
    margin-top: 20px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.n_contents .n_content a,
.n_contents .n_content p {
    font-size: 24px;
    line-height: 100%;
    color: #22252b;
    padding: 5px 0;
    box-sizing: border-box;
    display: block;

}

.n_contents .n_content a.n_title {
    margin-left: 80px;
}

.n_contents .n_content a:hover {
    padding-bottom: 4px;
    border-bottom: #22252b solid 1px;

}

.n_contents .n_content p {
    padding-right: 50px;
}


.n_contents .n_content:nth-child(1) {
    margin-top: 0px;
}

.n_contents .n_content.active {
    background-color: #d5d0cf;
    position: relative;
}

.n_contents .n_content.active .speaker {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;

}

.e_contents .e_content {
    width: 50%;
    height: 400px;
}

.e_contents .e_content:nth-child(3) {
    margin-top: 80px;
}

.e_contents .e_content .e_content_box {
    width: 500px;
    margin: 0 auto;
    height: 100%;
    background-color: #4e505b;
    border-radius: 30px;
    overflow: hidden;
    border: #d5d0cf 1px solid;
}

.e_contents .e_content .e_content_box .e_image {
    display: block;
    border-radius: 30px;
    overflow: hidden;

}

.e_contents .e_content .e_content_box .e_image:hover img {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}

.e_contents .e_content .e_content_box .e_text {
    padding: 20px;
    box-sizing: border-box;
}

.e_contents .e_content .e_content_box .e_text a {
    display: block;
    color: #f1f3f4;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}

.e_contents .e_content .e_content_box .e_text a:hover {
    font-weight: 700;
}

.e_contents .e_content .e_content_box .e_text p {
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    padding-top: 10px;
    color: #ccc;

}


.r_contents {
    justify-content: space-around;
}

.r_contents .r_content {
    width: 400px;
    height: 400px;
    display: flex;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.r_contents .r_content div {
    height: 100%;
}

.r_contents .r_content div img {
    height: 100%;
}

.r_contents .r_content .r_text {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    background-color: #4e505b;
    color: #d5d0cf;
    z-index: 5;
    opacity: 0.8;
    padding: 20px 0;
    font-size: 18px;
    transition: all 0.5s;
}

.r_contents .r_content:hover .r_text {
    transform: translateY(100%);
}