@charset "utf-8";

#community_title {
    padding-top: 150px;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px #f1f3f4 solid;
}

.c_title {
    font-size: 60px;
    line-height: 100%;
    text-align: center;
}

.n_contents,
.e_contents,
.r_contents {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 50px;
}

.e_contents,
.r_contents {
    display: flex;
    flex-wrap: wrap;

}

.n_contents .n_content:nth-child(1) {
    width: 100%;
    height: 100px;
    background-color: black;
}

.n_contents .n_content:nth-child(2),
.n_contents .n_content:nth-child(3) {
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: 20px;
}

.e_contents .e_content {
    width: 50%;
    height: 500px;
    background-color: pink;
}

.e_contents .e_content:nth-child(3) {
    margin-top: 80px;
}

.e_contents .e_content .e_content_box {
    width: 500px;
    margin: 0 auto;
    height: 100%;
    background-color: black;
}

.r_contents .r_content {
    width: 400px;
    height: 400px;
    background-color: aqua;
}